<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.tang.profile.demoprovider.infrastrucrute.DAO.profile.IAcctDAO">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.tang.profile.demoprovider.infrastrucrute.model.acctDto">
        <id column="ACCT_ID" property="acctId" jdbcType="BIGINT"/>
        <result column="ACCT_ID" property="acctId" jdbcType="BIGINT"/>
        <result column="BILL_ADDRESS" property="billAddress" jdbcType="VARCHAR"/>
        <result column="CREATED_DATE" property="createdDate" jdbcType="DATE"/>
    </resultMap>

    <!-- 查询单条记录 -->
    <select id="querySizeNumberOfTableAcct" resultType="java.lang.Long">
        select count(acct_id) from acct
    </select>
</mapper>