<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--比如是否启用缓存、数据库超时时间、字段映射、延迟加载,mapper.xml位置等，
    这边我还没来得及看有哪些，先抄份例子如下注释掉，后面再研究下-->
    <!--https://blog.csdn.net/u014593633/article/details/51888674-->
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 自动驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


</configuration>